<h1>American Hair Lines</h1>

<div class="card-content">
  <% if @stylists.any?() %>
  <h3>Below are the stylists for the hair salon</h3>
  <ul>
  <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id %>"><%= stylist.name %></a></li>
  <% end %>
  </ul>

  <% else %>

  <h4>Currently there are no stylists at this salon.</h4>

  <% end %>

  <form action="/stylists" method="post">
    <label for="new-stylist-name"><h5>Stylist Name:</h5></label>
    <input type="text" id="new-stylist-name" name="new-stylist-name">
    <button type="submit" class="btn green">Add stylist</button>
  </form>
</div>

<a href="/clients" class="btn right black">View current clients</a>
